doctype html
html
  head
    link href="./styles/main.css" rel="stylesheet" type="text/css"

  body
    div class="container"
      div class="grid"
        div class="row"
          div class="cell"
          div class="cell"
          div class="cell"
        div class="row"
          div class="cell"
          div class="cell"
          div class="cell"
        div class="row"
          div class="cell"
          div class="cell"
          div class="cell"

    script src="./scripts/app.js"